.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
venv310/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

do_not_vcs/
dont_vcs/
out/
old/
.mypy_cache/


